.container {
    display: flex;
    min-height: 90vh;
    min-width: 100vw;
    padding: 0 20px;
    box-sizing: border-box;
}

.containerKaBeta {
    width: 100%;
    margin: auto;
}

.imageContainer{
    width: 200px;
    border-radius: 10px;
    margin: auto;
}

.mainTitle {
    margin: auto auto 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.gridContainer {
    max-width: 500px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
}

.gridItem {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 15px;
    text-align: center;
}


@media (max-width: 600px) {
    .mainTitle {
        font-size: 1.5rem;
        margin: auto auto 50px;
    }

    .gridItem {
        height: 120px;
    }
}

@media (max-width: 480px) {
    .mainTitle {
        font-size: 1.2rem;
        margin: auto auto 30px;
    }

    .gridItem {
        height: 100px;
    }
}
